@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
body {
    background-color: #E9E9E9;
}
.add-recipe-button{
    width: 600px;
    border: 1px;
    border-radius: 10px;
    padding-left: 15px;
    text-align: left;
}


#addImgBtn{
    margin-left: 5px;
    background-color: #ffad96;
    padding: 5px 10px;
    border: solid;
    border-color: rgb(211, 211, 211);
    border-width: 1px;
    border-radius: 5px;
    text-align: left;
    cursor: pointer; 
}

.cover-photo{
    width: 100%;
    height: 0;
    margin-top:75px;
    padding-top: 30%; /* Adjust the aspect ratio (height) as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

#navProfile {
    margin-right: 10px;
}


#postDropdown{
    justify-content: right;
}

.clickableImg {
    border-radius: 15px;
}

.clickableImg:hover{
    border-radius:20px;
    transition: border-radius 0.5s, transform 0.5s;

}.clickableImg:hover {
    transform: scale(1.02);
    opacity: 0.9;
    border-radius: 0;
  }


footer {
    background-color: #370f0d;
    color: mistyrose;
    width: 100%;
    bottom: 0;
    padding: 50px 30px 30px 30px;
}

.footer-container {
    bottom: 0;
    line-height: 20px;
    text-align: center;
}

.footer-content {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 13px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.footer-icon a {
    justify-content: center;
    padding: 15px;
    background-color: mistyrose;
    margin: 15px;
    border-radius: 50%;
}

.footer-icon a i {
    font-size: 20px;
    color: #000000;
}

.footer-icon a:hover {
    background-color: #ff544b;
    transition: 0.3s;
}

.footer-icon a:hover i {
    color: mistyrose;
    transition: 0.3s;
}

.footer-nav {
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
}

.footer-nav a {
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
    color: mistyrose;
    transition: 0.3s;
    opacity: 0.7;

}

.footer-nav a:hover {
    opacity: 2;
}

.footer-bottom {
    font-size: 13px;
}